lab6/src/schema.xsd

<?xml version="1.0" encoding="UTF-8" ?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"           xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">    <xs:element name="itCompany">        <xs:complexType>            <xs:sequence>                <xs:element name="nameCompany" type="xs:string"/>                <xs:element name="directorFirstName" type="xs:string"/>                <xs:element name="directorSecondName" type="xs:string"/>                <xs:element ref="employees" minOccurs="0" maxOccurs="unbounded"/>            </xs:sequence>        </xs:complexType>    </xs:element>    <xs:element name="employees">        <xs:complexType>            <xs:sequence>                <xs:element ref="firstName" minOccurs="1" maxOccurs="1"/>                <xs:element ref="secondName" minOccurs="1" maxOccurs="1"/>                <xs:element ref="type" minOccurs="1" maxOccurs="1"/>                <xs:element ref="salary" minOccurs="1" maxOccurs="1"/>                <xs:element name="position" minOccurs="0" maxOccurs="1"/>            </xs:sequence>        </xs:complexType>    </xs:element>    <xs:element name="firstName" type="xs:string"/>    <xs:element name="secondName" type="xs:string"/>    <xs:element name="type" type="xs:string"/>    <xs:element name="salary" type="xs:double"/></xs:schema>